button{
    margin:20px;
}

body{
    padding:0;
    margin:0;
    height:100vh;
    display:grid;
    grid-template-rows:30fr 2fr;
    grid-template-areas:
    "app"
	"footer";
    text-align:center;
}

#app {
    padding:20px;
    grid-area:app;
    background-color:white;
}

#footer {
    padding:10px;
    grid-area:footer;
    background-color:black;
}

#footer a{
    color:white;
    text-decoration:none;
}